/* App.css */

/* Fondo de la página completa */
body {
  background-color: #8b4f4f;  /* Color de fondo gris claro */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Establece una fuente global */
}

.App {
  text-align: center;
}

.App-logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #70ddd4;  /* Fondo de color para el encabezado */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(173, 0, 87);
}

.App-link {
  color: #a50000;
}
.icono-animado {
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 10;
}

.mi-icono {
  width: 2px;  /* Tamaño del ícono */
  height: 2px;
}

/* Puedes agregar más estilos o cambiar los valores según sea necesario */
